<button (click)="setShowChooseLevel()">VOLVER</button>

<app-info-game
  [getIntentos]="intentos"
  [getParejasOk]="parejasOk"
  [getArrayLength]="doblarArrayLength"
  [getFirstMove]="firstMove"
></app-info-game>

<div #boardGame id="board-game">
  <div
    #card
    class="card {{ option.imagen }}"
    id="{{ option.id }}"
    (click)="addRotateCard(option.id)"
    *ngFor="let option of doblarArray"
  >
    <div class="front"><img src="assets/img/front.png" alt="" /></div>
    <div class="back"><img src="{{ option.imagen }}" alt="" /></div>
  </div>
</div>
