#container{
  margin-top: 50px;
}

#btn-back{
  font-family: 'rmfont';
  font-size: 1em;
  cursor: pointer;
  color: black;
  background-color: #00B2C8;
  border: 3px solid black;
  border-radius: 25px;
  box-shadow: 0 0 2.5px #00FF33,0 0 2.5px #00FF33, 0 0 5px #04F466, 0 0 5px #04F466, 0 0 5px #04F466;
}

button {
  width: 100px;
  height: auto;
  font-size: 1em;
  margin-left: 2px;
  margin-right: 5px;
}

#bar-info {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

#board-game {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  /* max-width: 100vh; */
}

.card {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid #00FF33;
  box-shadow: 0 0 2.5px #00FF33,0 0 2.5px #00FF33, 0 0 5px #04F466, 0 0 5px #04F466, 0 0 5px #04F466;
}

.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transition: 1s;
}

img {
  width: auto;
  height: 70px;
}

.card .front {
  background-color: #682fc4;
  transform: perspective(500px) rotateY(0deg);
}

.card .back {
  background: #00B2C8;
  transform: perspective(500px) rotateY(180deg);
}

.card .rotateFront {
  transform: perspective(500px) rotateY(180deg);
}

.card .rotateBack {
  transform: perspective(500px) rotateY(360deg);
}

@media screen and (max-width: 360px) {
  #board-game {
    grid-template-columns: auto auto auto auto;
  }

  #btn-back{
    font-size: 1em;
  }
}


